<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Hello Users! 😀</h1>
    <p>This is the web interface for the flask API.<br>Please use the mobile app to use this API.</p>
  </body>
</html>